wp-content/uploads/
wp-admin/
wp-includes/
wp-content/uploads/
wp-config.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
license.txt
readme.html
.htaccess
wp-content/plugins/